<div id="thank-you-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <img class="logo"
                     src="{{ STATIC_URL }}img/logo-capital-black.png"
                     width="193"
                     height="49"
                     style="margin-bottom: 40px;">
                <p class="uppercase">
                    <span style="font-size: 35px; line-height: 45px; letter-spacing: 10px;">
                        Thank<br>
                        You<br>
                    </span>
                    <span style="font-size: 18px; line-height: 18px;">For RSVP'ing</span>
                </p>
                <div  class="bar"></div>
                <p style="color: #747474; font-size: 28px; line-height: 28px;">
                    We'll see you on July 24<sup>th</sup> at our<br>
                    Columbus and 97th Branch
                </p>
            </div>
        </div>
    </div>
</div>