<div id="waitlist-modal" class="modal fade">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <p>
                    Thank you but we have already reached capacity for this event. Please click the box below.
                </p>
                <button class="btn btn-primary btn-block" type="button"
                        ng-click="onWaitlistButtonClick()">Please add me to the wait list</button>
            </div>
        </div>
    </div>
</div>