body {
    background-color: #414141;
    color: #FFF;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 23px;
    line-height: 23px;
}

form {
    padding: 15px 52px;
    background-color: #000;
    box-shadow: 4px 4px 12px #000;
    text-transform: uppercase;
}

form label {
    font-size: 22px;
    font-weight: normal;
    line-height: 22px;
}

form button {
    margin-top: 32px;
}

form.form-horizontal .control-label {
    text-align: left;
}

form .form-heading {
    margin-bottom: 22px;
}

form .form-heading .small-print {
    letter-spacing: 10px;
}

form .form-control,
form .form-control option {
    font-weight: bold;
}

form .rsvp {
    font-size: 35px;
    line-height: 55px;
}

.modal-content {
    background-color: #000;
}

.modal-body {
    text-align: center;
}

.uppercase {
    text-transform: uppercase;
}

.date-lg {
    font-size: 29px;
    font-weight: bold;
    line-height: 29px;
}

.date-md {
    font-size: 22px;
    font-weight: bold;
    line-height: 22px;
}

.bar {
    width: 300px;
    height: 4px;
    margin: 40px auto;
    background-color: #FFF;
}

.btn,
.btn:hover,
.btn:focus,
.btn:active {
    color: #FFF;
    background-color: #414141;
}

.btn-capital {
    padding: 20px 46px;
    border-radius: 10px;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 16px;
    text-transform: uppercase;
    text-shadow: 4px 4px 10px #000;
}

.btn-capital-modal {
    padding: 24px 10px;
    border-radius: 10px;
    font-size: 22px;
    line-height: 22px;
    text-shadow: 4px 4px 10px #000;
}

.small-print {
    font-size: 15px;
    line-height: 16px;
}

.terms-of-service {
    margin-top: 42px;
    padding: 0 25px;
}

#header {
    padding: 44px 0;
    color: #747474;
    font-size: 35px;
    line-height: 35px;
}

#header .byline {
    font-size: 17px;
    line-height: 17px;
}